input::-webkit-input-placeholder{font-family:"Material Icons Outlined"}
body {background-color: cream;text-align:left;}
h1 {color:salmon; margin-left:30px;}
p {color:darkcyan;font-size:15px; margin-left:35px}
a {color:green;}
ol, ul {color: darksalmon;margin-left:45px;}
form, label, input {color:palevioletred;}
label, input {margin-left: 30px;}
button {background-color: plum; color:rosybrown; margin-left:45px;}
::placeholder {text-align: left;}
#tdrk, #akai, #levi, #killua {margin-left: 0px;}
#search, #search-off {margin-left:0px;}
th {color:slateblue}
td, tr {color:tan}